@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
}